{{- if or .Params.math .Site.Params.math }}
{{- /* 使用国内高性能 CDN (Staticfile/字节跳动) 替代 GitHub 海外节点 */}}
<link rel="stylesheet" href="https://cdn.staticfile.org/KaTeX/0.16.11/katex.min.css">
<script defer src="https://cdn.staticfile.org/KaTeX/0.16.11/katex.min.js"></script>
<script defer src="https://cdn.staticfile.org/KaTeX/0.16.11/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError : false
    });"></script>
{{- end }}
