{{- if or .Params.math .Site.Params.math }}
{{- $katex_css := "katex/katex.min.css" | relURL }}
{{- $katex_js := "katex/katex.min.js" | relURL }}
{{- $katex_auto_render := "katex/contrib/auto-render.min.js" | relURL }}
<link rel="stylesheet" href="{{ $katex_css }}">
<script defer src="{{ $katex_js }}"></script>
<script defer src="{{ $katex_auto_render }}"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\(', right: '\\)', display: false},
            {left: '\\[', right: '\\]', display: true}
        ],
        throwOnError : false
    });"></script>
{{- end }}
